.login-container {
    background-color: #EFF2FF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
  }
  
  .card {
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .p-float-label {
    display: flex;
    flex-direction: column;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  label {
    font-size: 14px;
    color: #333;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 39px;
    background-color: #744BFC;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: rgba(116, 75, 252, 0.8);
    }
  }
  