<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/rast-mobile-logo.png" width="100px" alt="Rast-Mobile-Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container">
      <ul class="navbar-nav mr-auto col-lg-9 col-md-12 ">
        <li class="nav-item">
          <a class="nav-link" href="#">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jüri - Yarışma Yazılımı</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Word Ninja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Word Pyramids</a>
        </li>
      </ul>
      <div class="social-buttons col-lg-3 col-md-12 ">
        <app-social-buttons url="https://www.youtube.com/channel/UCkP4s7gKLG2M8j1RcywmcjQ" icon="pi pi-youtube" ariaLabel="YouTube"></app-social-buttons>
        <app-social-buttons url="https://www.behance.net/rastmobile" icon="fab fa-behance" ariaLabel="Behance"></app-social-buttons>
        <app-social-buttons url="https://www.instagram.com/mobilerast/" icon="pi pi-instagram" ariaLabel="Instagram"></app-social-buttons>
        <app-social-buttons url="https://www.linkedin.com/company/rastmobile/" icon="pi pi-linkedin" ariaLabel="LinkedIn"></app-social-buttons>
      </div>
    </div>
  </div>
</nav>
